.panel {
  display: flex;
  justify-content: space-between;

  padding: 10px;

  background: var(--color-primary);
  color: var(--color-text-primary);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  text-align: center;
}

.panelBtn {
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;

  color: inherit;
  font-size: inherit;
  line-height: inherit;

  outline-color: var(--color-outline-primary);
  min-width: var(--default-line-height);
  text-align: center;
}

.closeBtn,
.soundBtn,
.clock {
  margin-left: 0.5em;
}

.clock,
.flag {
  white-space: nowrap;
  i {
    margin-right: 0.2em;
  }
}

.flag i {
  color: #f23607;
}

.soundBtn {
  i {
    display: none;
  }
  &.active {
    i:nth-child(1) {
      display: block;
    }
  }
  &:not(.active) {
    i:nth-child(2) {
      display: block;
    }
  }
}
